<div ng-controller="AboutCtrl">
  <div>
    <p class="flotte">
      <img src="images/UlysseRiccio.JPG" alt="I'm Ulysse Riccio">
    <ul class="centre">
      <li>
        {{posts.general.3.name}}
      </li>
      <li>
        {{posts.general.4.address}}
      </li>
      <li>
        {{posts.general.5.phone}}
      </li>
      <li>
        {{posts.general.6.e_mail}}
      </li>
    </ul>
    </p>
    <p class="titre">
    <h1 class="titre">{{posts.general.0}}</h1>
    <h1 class="titre">{{posts.general.1}}</h1>
    <h1 class="titre">{{posts.general.2}}</h1>
    </p>

  </div>
  <br \>
  <br \>
  <br \>

  <div>

    <h1>{{posts.skills.0}}</h1>
    <h2>{{posts.skills.1}}</h2>
    <ul>
      <li>
        {{posts.skills.2}}
      </li>
      <li>
        {{posts.skills.3}}
      </li>
      <li>
        {{posts.skills.4}}
      </li>
    </ul>
    <h2>
      {{posts.skills.5}}
    </h2>
    <lu>
      <li>
        {{posts.skills.6}}
      </li>
      <li>
        {{posts.skills.7}}
      </li>
      <li>
        {{posts.skills.8}}
      </li>
    </lu>
    <h2>
      {{posts.skills.9}}
    </h2>
    <lu>
      <li>
        {{posts.skills.10}}
      </li>
      <li>
        {{posts.skills.11}}
      </li>
    </lu>

    <h2>
      {{posts.skills.12}}
    </h2>
    <li>
      {{posts.skills.13}}
    </li>
    <li>
      {{posts.skills.14}}
    </li>
    </ul>

    <h1>{{posts.formation.0}}</h1>
    <h2>
      {{posts.formation.1}}
    </h2>
    <lu>
      <li>
        {{posts.formation.2}}
      </li>
    </lu>
    <h2>
      {{posts.formation.3}}
    </h2>
    <lu>
      <li>
        {{posts.formation.4}}
      </li>
    </lu>

    <h2>
      {{posts.formation.5}}
    </h2>
    <lu>
      <li>
        {{posts.formation.6}}
      </li>
    </lu>


    <h1>{{posts.experience.0}}</h1>

    <h2>
      {{posts.experience.1}}
    </h2>
    <ul>
      <li>
        {{posts.experience.2}}
      </li>
      <li>
        {{posts.experience.3}}
      </li>
    </ul>

    <h2>
      {{posts.experience.4}}
    </h2>
    <ul>
      <li>
        {{posts.experience.5}}
      </li>
      <li>
        {{posts.experience.6}}
      </li>
    </ul>
    <h1>{{posts.language.0}}</h1>
    <h2>
      {{posts.language.1}}
    </h2>
    <ul>

      <li>
        {{posts.language.2}}
      </li>
      <li>
        {{posts.language.3}}
      </li>

    </ul>

    <h2>{{posts.hobby_informatical.0}}</h2>
    <ul>
      <li>
        {{posts.hobby_informatical.1}}
      </li>
      <li>
        {{posts.hobby_informatical.2}}
      </li>
      <li>
        {{posts.hobby_informatical.3}}
      </li>
      <li>
        {{posts.hobby_informatical.4}}
      </li>
      <li>
        {{posts.hobby_informatical.5}}
      </li>
    </ul>

    <h2>{{posts.hobby.0}}</h2>
    <ul>
      <li>
        {{posts.hobby.1}}
      </li>
      <li>
        {{posts.hobby.2}}
      </li>
      <li>
        {{posts.hobby.3}}
      </li>
      <li>
        {{posts.hobby.4}}
      </li>
      <li>
        {{posts.hobby.5}}
      </li>
      <li>
        {{posts.hobby.6}}
      </li>
    </ul>

  </div>
</div>
